
.options {
  width:  110px;
  height: 34px;
  margin-bottom: 10px;
}

textarea {
}

button.visualize {
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
}

#inputText {
}

#myCanvas {
  margin-top: 10px;
  height: 600px;
  border: 1px solid #000;
}